<ion-view hide-nav-bar="true" view-title="Sign Up" cache-view="false">
  <ion-content class="login-page">
    <div class="row">
      <div class="full-width">
        <img src="img/logo.png" style="width:120px;" />
        <form name="signupForm" ng-submit="register(newuser, signupForm.$valid)" novalidate>
          <div class="form-content">
            <div class="form-group" ng-class="{ 'has-error': signupForm.name.$touched && signupForm.name.$invalid }">
              <input name="name" type="text" class="form-control input-underline input-lg" required placeholder="Name" ng-model="newuser.name" />
              <div class="help-block" ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched">
                <p ng-message="required">This field is required</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid }">
              <input name="email" type="email" class="form-control input-underline input-lg" required placeholder="Email" ng-model="newuser.email" />
              <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
                <p ng-message="required">This field is required</p>
                <p ng-message="email">This needs to be a valid email</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': signupForm.password.$touched && signupForm.password.$invalid }">
              <input name="password" type="password" class="form-control input-underline input-lg" required placeholder="Password" ng-model="newuser.password" />
              <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched">
                <p ng-message="required">This field is required</p>
              </div>
            </div>
          </div>
          <a class="btn rounded-btn" href="#/sign-ip" style="text-decoration: none;">Sign In</a>
          <button class="btn rounded-btn" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
