<ion-view hide-nav-bar="true" view-title="Sign In" cache-view="false">
  <ion-content class="login-page">
    <div class="row">
      <div class="full-width">
        <img src="img/logo.png" style="width:120px;" />
        <form name="loginForm" ng-submit="login(user, loginForm.$valid)" novalidate>
          <div class="form-content">
            <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
              <input name="email" type="email" class="form-control input-underline input-lg" required placeholder="Email" ng-model="user.email" />
              <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                <p ng-message="required">This field is required</p>
                <p ng-message="email">This needs to be a valid email</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
              <input name="password" type="password" class="form-control input-underline input-lg" required placeholder="Password" ng-model="user.password" />
              <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                <p ng-message="required">This field is required</p>
              </div>
            </div>
          </div>
          <button class="btn rounded-btn" type="submit">Sign In</button>
          <a class="btn rounded-btn" href="#/sign-up" style="text-decoration: none;">Sign Up</a>
        </form>
        <p class="text-center">
          <a href="#/forgot-password">Forgot password</a>
        </p>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="goGuest()">
            Continue as guest
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
