<ion-view view-title="Account">
  <ion-content class="light-bg">
    <div class="list m-t-20 m-b-10 setting">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input class="text-right" type="text" ng-model="userinfo.name" ng-readonly="true"></input>
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input class="text-right" type="text" ng-model="userinfo.email" ng-readonly="true"></input>
      </label>
    </div>
    <button class="button button-block button-assertive" ng-click="logout()">SIGN OUT</button>
  </ion-content>
</ion-view>
