<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-happy-outline" icon-on="ion-happy" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Saved Tab -->
  <ion-tab title="Saved" icon-off="ion-android-favorite-outline" icon-on="ion-android-favorite" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-android-pin" icon-on="ion-android-pin" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Trending Tab -->
  <ion-tab title="All" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
