<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{opportunity.name}}">
  <ion-content class="padding">
    <img ng-src="{{opportunity.face}}" style="width: 100px; height: 100px; display: block; margin: 0 auto;">
    <div class="padding">
      <div class="row">
        <div class="col">
          <p style="font-family: locaboFont; font-size: 30px;">What?</p>
        </div>
        <div class="col col-75">
          <p style="font-family: locaboFont; font-size: 25px;">
            {{opportunity.what}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-family: locaboFont; font-size: 30px;">When?</p>
        </div>
        <div class="col col-75">
          <p style="font-family: locaboFont; font-size: 25px;">
            {{opportunity.when}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-family: locaboFont; font-size: 30px;">Where?</p>
        </div>
        <div class="col col-75">
          <p style="font-family: locaboFont; font-size: 25px;">
            {{opportunity.where}}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-family: locaboFont; font-size: 30px;">Availabale:</p>
        </div>
        <div class="col col-75">
          <p style="font-family: locaboFont; font-size: 25px;">
            {{opportunity.amount}}
          </p>
        </div>
      </div>

      <button class="button button-block button-positive" ng-click="saveOpportunity(opportunity)">Save this opportunity</button>
  </ion-content>
</ion-view>
