<ion-view view-title="Forgot Password">
  <ion-content class="login-page">
    <p class="p-t-30">Enter your email address below an you will receive an email with instructions to reset your password.</p>
    <form name="signupForm" ng-submit="register(newuser, signupForm.$valid)" novalidate>
      <div class="form-content">
        <div class="form-group" ng-class="{ 'has-error': signupForm.email.$touched && signupForm.email.$invalid }">
          <input name="email" type="email" class="form-control input-underline input-lg" required placeholder="Email" ng-model="newuser.email" />
          <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$touched">
            <p ng-message="required">This field is required</p>
            <p ng-message="email">This needs to be a valid email</p>
          </div>
        </div>
      </div>
      <button class="btn rounded-btn" type="submit">Reset Password</button>
    </form>
  </ion-content>
</ion-view>
