<ion-view view-title="All Opportunities">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="opportunity in opportunities" type="item-text-wrap" href="#/tab/trending/{{opportunity.id}}">
        <img ng-src="{{opportunity.face}}">
        <h2>{{opportunity.name}}</h2>
        <p>{{opportunity.when}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(opportunity)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
