<ion-view view-title="About Us">
  <ion-content class="padding">
    <h2>Welcome to Locabo</h2>
    <p>Some info on this page</p>

    <div class="text-center p-t-10 p-b-30" style="color:#8C8C8C">Version {{version}}</div>
  </ion-content>
</ion-view>
